@import '../../App.scss';
.room-gallery{
  img{
    border-radius: $br;
    width: 100%;
    transition: $main-transition;
    &:hover{
      box-shadow: $shadow
    }
  }
}
.details{
  p, ul{
    font-size: 0.875rem;
    line-height: 1.8;
    span{
      color: $dark-color;
      font-family: $secondaryFont;
      font-size: 1rem;
    } 
  }
  ul{
    list-style: '- ';
    padding: inherit;
  } 
}
@media screen and (max-width: 768px){
  img{
    margin-bottom: 1rem;
  }
  article{
    margin-bottom: 1rem
  }
}